@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap");

:root {
  --primary-color: #865fb7eb;
  --ok-color: #03a81ca3;
  --warning-color: #e1c303ae;
  --danger-color: #a50000ad;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none;
}

body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--primary-color);
}

.container {
  /* height: 50%; */
  width: 30%;
  display: flex;
  flex-direction: column;
  gap: 30px;
  background-color: #fff;
  padding: 30px;
  border-radius: 15px;
}

.container h1 {
  font-size: 18px;
}

.container .texto {
  display: none;
}

.container .form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.container .form .input {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.container .form .input input {
  font-size: 14px;
  padding: 0 10px;
  height: 30px;
  border: 1px solid black;
  border-radius: 10px;
}

.container .form .input input:focus {
  outline: 1px solid var(--primary-color);
}

.container .form button {
  padding: 10px;
  font-size: 16px;
  border: none;
  background-color: var(--primary-color);
  color: white;
  border-radius: 10px;
  cursor: pointer;
}

.container .form button:hover {
  background-color: white;
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
  padding: 9px;
}

/* Estilos do parágrafo */

.container p {
  text-align: center;
  padding: 10px;
  border-radius: 10px;
  color: white;
}

/* Estilos do parágrafo de acordo com o status de imc */

.container .ok {
  background-color: var(--ok-color);
}

.container .warning {
  background-color: var(--warning-color);
}

.container .danger,
.container .invalid {
  background-color: var(--danger-color);
}

@media (min-width: 769px) {
  .container .texto {
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: left;
  }

  .container h1 {
    font-size: 24px;
  }
}
