<%- include("./includes/head") %>
<body>
  <%- include("./includes/navbar") %>
  <div
    class="container-fluid vh-100 d-flex align-items-center justify-content-center"
  >
    <div class="row vw-100">
      <div class="col-lg-2"></div>
      <div class="col-lg-8">
        <h1 class="display-1 text-center">Erro :,(</h1>
        <p class="text-center lead">Algum erro aconteceu</p>
      </div>
      <div class="col-lg-2"></div>
    </div>
  </div>
</body>
