<%- include("./includes/head") %>
<body class="vh-100">
  <%- include("./includes/navbar") %>
  <div class="container-fluid overflow-y-hidden">
    <div class="row vw-100">
      <div class="col-lg-2"></div>
      <div class="col-lg-8 mt-5">
        <h1 class="text-center">Contatos</h1>

        <div class="resposive-table">
          <table class="table">
            <tr>
              <td>Luan</td>
              <td>Gustavo</td>
              <td>999544455</td>
              <td>ldjakjsjka</td>
            </tr>
          </table>
        </div>
      </div>
      <div class="col-lg-2"></div>
    </div>
  </div>
</body>
