<%- include("./includes/head") %>
<body>
  <%- include("./includes/navbar") %>
  <div
    class="container-fluid vh-100 d-flex align-items-center justify-content-center"
  >
    <div class="row vw-100">
      <div class="col-lg-2"></div>
      <div class="col-lg-8">
        <h1 class="text-center">Bem Vindo!</h1>
        <p class="text-center lead">O que deseja?</p>
        <div class="row g-2 row-cols-2">
          <div class="col">
            <a
              class="link-underline link-underline-opacity-0 link-light w-100"
              href="/signin/index"
              ><button type="button" class="btn btn-primary w-100">
                Cadastrar
              </button></a
            >
          </div>
          <div class="col">
            <a
              class="link-underline link-underline-opacity-0 link-light w-100"
              href="/login/index"
              ><button type="button" class="btn btn-primary w-100">
                Entrar
              </button></a
            >
          </div>
        </div>
      </div>
      <div class="col-lg-2"></div>
    </div>
  </div>
</body>
